@{
	ViewBag.Title = "Contact";
}

<hgroup class="title">
	<h1>@ViewBag.Title.</h1>
	<h2>@ViewBag.Message</h2>
</hgroup>

<section class="contact">
	<header>
		<h3>Email</h3>
	</header>
	<p>
		<span class="label">Support:</span>
		<span><a href="mailto:Oleksandr.Kulchytskyi@frogdesign.com">Oleksandr.Kulchytskyi@frogdesign.com</a></span>
	</p>
	<p>
		<span class="label">General:</span>
		<span><a href="http://www.frogdesign.com/">Frog design</a></span>
	</p>
</section>

<section class="contact">
	<header>
		<h3>Address</h3>
	</header>
	<p>
		Ukraine<br />
		Vinnica.
	</p>
</section>
